[Unit]
Description=client

[Service]
User=pi
WorkingDirectory=/home/pi/LightDance-RPi
ExecStart=python3 -u /home/pi/LightDance-RPi/ws_client/client.py
Restart=always

[Install]
After=systemd-networkd.service                                                                             
WantedBy=multi-user.target
