[Unit]
Description=client

[Service]
User=pi
WorkingDirectory=/home/pi/LightDance-RPi
ExecStart=python3 /home/pi/LightDance-RPi/ws_client/client.py
Restart=always

[Install]
WantedBy=multi-user.target
