[Unit]
Description=client

[Service]
User=OnlyHope
WorkingDirectory=/home/OnlyHope/LightDance-RPi
ExecStart=/home/OnlyHope/LightDance-RPi/ws_client/client.py
Restart=always

[Install]
WantedBy=multi-user.target