[Unit]
Description=controller

[Service]
User=pi
WorkingDirectory=/home/pi/LightDance-RPi
ExecStart=/home/pi/LightDance-RPi/startController.sh
Restart=always

[Install]
WantedBy=multi-user.target
