[Unit]
Description=frame

[Service]
User=pi
WorkingDirectory=/home/pi/LightDance-RPi
ExecStart=python3 -u /home/pi/LightDance-RPi/data/light-frame.py
Restart=always

[Install]
WantedBy=multi-user.target
