[Unit]
Description=IP Change Monitor
Wants=network.target
After=network-online.target

[Service]
ExecStart=/home/pi/LightDance-RPi/scripts/ip-mon

[Install]
WantedBy=multi-user.target default.target