[Unit]
Description=nthu_controller

[Service]
User=pi
WorkingDirectory=/home/pi/LightDance-RPi
ExecStart=/home/pi/LightDance-RPi/startNTHUController.sh
Restart=always

[Install]
WantedBy=multi-user.target
