[Unit]
Description=player

[Service]
User=pi
ExecStartPre=/bin/sleep 20
WorkingDirectory=/home/OnlyHope/LightDance-RPi
ExecStart=/home/OnlyHope/LightDance-RPi/startPlayer.sh
Restart=always

[Install]
WantedBy=multi-user.target
