[Unit]
Description=player

[Service]
User=root
WorkingDirectory=/home/OnlyHope/LightDance-RPi
ExecStart=player
Restart=always

[Install]
WantedBy=multi-user.target